asgiref==3.7.2
crispy-bootstrap4==2023.1
distlib==0.3.7
Django==4.2.6
django-crispy-forms==2.1
django-dotenv==1.4.2
filelock==3.13.1
gunicorn==21.2.0
packaging==23.2
Pillow==10.1.0
platformdirs==3.11.0
sqlparse==0.4.4
tzdata==2023.3
virtualenv==20.24.6